.main{
    background-color: #b3b3b3;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrap {

    display: flex;
    height: 93vh;
    flex-basis: auto;
flex-basis: 100%;
}

.view-section{
    display: flex;
    flex-direction: column;
    height: 93%;
    width: 100%;
    flex-basis: auto;
}

