.main{
    background-color: #b3b3b3;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
flex-basis: 100%;
}

.view-section{
    flex-basis: 100%;
}

