.header{
background-color: rgba(255, 130, 0, 0.59);
    flex-basis: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.5rem 0 0;
}

.header-welcomePanel{
    padding: 0 2rem 0 0;
}