.header{
background-color: #318fb5;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.5rem 0 0;
}

.header-welcomePanel{
    height: inherit;
flex-basis: auto;
    display: flex;
    align-items: center;
}

.header-welcomePanel span{
    padding: 0 1rem;
    white-space: nowrap;
    font-size: 1.3rem;
    color: white;
 }